<%= form_tag search_listings_path do  %>
	<div class="car-list content-area">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
	            	<% @listings.try(:each) do |listing| %>
	            		<%= render 'index_listing', listing: listing %>
	            	<% end %>
	            </div>
				<div class="col-lg-4 col-md-3 col-xs-12">
	                <aside class="sidebar">
	                    <div class="section-heading" style="padding: 0px 0px 15px 0px">
	                        <i class="fa fa-search"></i>
	                        <h2>Search Bike</h2>
	                        <div class="border"></div>
	                    </div>
	                    <div class="search-block">
	                        <br>
	                        <br>
	                        <%= text_field_tag :keyword, '' ,class: 'form-control', placeholder: "Make, Model" %>
	                        <div class="row">
	                            <div class="price-box">
	                                <div class="col-lg-6">
	                                    <label>Min price</label>
	                                    <input class="form-control" placeholder="Min price" id="minPrice" value="1000">
	                                </div>
	                                <div class="col-lg-6">
	                                    <label>Max price</label>
	                                    <input class="form-control" placeholder="Min price" id="maxPrice" value="50000">
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <hr>
	                    <div class="search-block">
	                        <h2 class="title">Brands</h2>

	                        <div class="checkbox checkbox-theme checkbox-circle">
	                            <input id="checkbox8" type="checkbox">
	                            <label for="checkbox8">
	                                Audi
	                            </label>
	                        </div>

	                        <div class="checkbox checkbox-theme checkbox-circle">
	                            <input id="checkbox9" type="checkbox">
	                            <label for="checkbox9">
	                                BMW
	                            </label>
	                        </div>

	                        <div class="checkbox checkbox-theme checkbox-circle">
	                            <input id="checkbox10" type="checkbox">
	                            <label for="checkbox10">
	                                Mercedes benz
	                            </label>
	                        </div>

	                        <div class="checkbox checkbox-theme checkbox-circle">
	                            <input id="checkbox11" type="checkbox">
	                            <label for="checkbox11">
	                                Lamborghini
	                            </label>
	                        </div>

	                        <div class="checkbox checkbox-theme checkbox-circle">
	                            <input id="checkbox12" type="checkbox">
	                            <label for="checkbox12">
	                                Buick
	                            </label>
	                        </div>

	                        <div class="checkbox checkbox-theme checkbox-circle">
	                            <input id="checkbox13" type="checkbox">
	                            <label for="checkbox13">
	                                Bugatti
	                            </label>
	                        </div>

	                        <div class="checkbox checkbox-theme checkbox-circle">
	                            <input id="checkbox14" type="checkbox">
	                            <label for="checkbox14">
	                                Acura
	                            </label>
	                        </div>
	                    </div>

	                    <!-- <div class="search-block">
	                        <h2 class="title">Popular cars</h2>

	                        <div class="checkbox checkbox-theme checkbox-circle">
	                            <input id="checkbox7" type="checkbox">
	                            <label for="checkbox7">
	                                Audi
	                            </label>
	                        </div>

	                        <div class="checkbox checkbox-theme checkbox-circle">
	                            <input id="checkbox6" type="checkbox">
	                            <label for="checkbox6">
	                                Audi q7 2017
	                            </label>
	                        </div>

	                        <div class="checkbox checkbox-theme checkbox-circle">
	                            <input id="checkbox5" type="checkbox">
	                            <label for="checkbox5">
	                                Lamborghini 2016
	                            </label>
	                        </div>

	                        <div class="checkbox checkbox-theme checkbox-circle">
	                            <input id="checkbox4" type="checkbox">
	                            <label for="checkbox4">
	                                Jaguar F-Type R
	                            </label>
	                        </div>

	                        <div class="checkbox checkbox-theme checkbox-circle">
	                            <input id="checkbox3" type="checkbox">
	                            <label for="checkbox3">
	                                Porsche-Cayen-Last
	                            </label>
	                        </div>

	                        <div class="checkbox checkbox-theme checkbox-circle">
	                            <input id="checkbox2" type="checkbox">
	                            <label for="checkbox2">
	                                Mercedes Benz C Class
	                            </label>
	                        </div>

	                        <div class="checkbox checkbox-theme checkbox-circle">
	                            <input id="checkbox1" type="checkbox">
	                            <label for="checkbox1">
	                                Vencer Sarthe Supercar
	                            </label>
	                        </div>
	                    </div> -->
	                </aside>
	            </div>
	        </div>
	    </div>
	</div>
<% end %>
