    <section id="content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-9 col-md-offset-2">
            <div class="page-ads box">
              <h2 class="title-1">
                Sale Your Bike
                <hr>
              </h2>
              <label class="control-label">Upload Images</label>
              <%= render 'image_form' %>
              <br>
              <%= render 'form' %>
            </div>
          </div>
        </div>
      </div>
    </section>