<div class="col-md-4 col-sm-6 clearfix">
  <div class="thumbnail car-box">
    <a href="http://car-house.sohelrana.me/#" class="sale">
        <span>sale</span>
    </a>
    <%= image_tag 'abc.jpg' %>
    <div class="caption car-content">
      <div class="header b-items-cars-one-info-header s-lineDownLeft">
        <h3>
          <a href="http://car-house.sohelrana.me/car_details.html">lamborghini 2016</a>
          <span>$399,500</span>
        </h3>
      </div>
      <p>Next level Pinterest farm-to-table selvage gentrify street art raw denim Helvetica street art pork belly.</p>
      <div class="car-tags">
        <ul>
          <li>2016</li>
          <li>Bensin</li>
          <li>Sport</li>
          <li>11.888m</li>
        </ul>
      </div>
      <div class="details-button">
        <a href="http://car-house.sohelrana.me/car_details.html">Details</a>
      </div>
    </div>
  </div>
</div>